<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-a">
                <div class="foot-detail">
                    <div class="title">
                        <h6>Account</h6>
                    </div>
                    <div class="details">
                        <ul>
                            <li><a href="" routerLink="/login">Log In</a></li>
                            <li><a href="" routerLink="/signup">Sign Up</a></li>
                            <li><a href="">Redeem a Gift Card</a></li>
                        </ul>
                    </div>
                </div>
                <div class="foot-detail">
                    <div class="title">
                        <h6>Company</h6>
                    </div>
                    <div class="details">
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">Environmental Initiatives</a></li>
                            <li><a href="">Factories</a></li>
                            <li><a href="">DEI</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">International</a></li>
                            <li><a href="">Accessibility</a></li>
                        </ul>
                    </div>
                </div>
                <div class="foot-detail">
                    <div class="title">
                        <h6>Get Help</h6>
                    </div>
                    <div class="details">
                        <ul>
                            <li><a href="">Help Center</a></li>
                            <li><a href="">Return Policy</a></li>
                            <li><a href="">Shipping Info</a></li>
                            <li><a href="">Bulk Orders</a></li>
                        </ul>
                    </div>
                </div>
                <div class="foot-detail">
                    <div class="title">
                        <h6>Connect</h6>
                    </div>
                    <div class="details">
                        <ul>
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Twitter</a></li>
                            <li><a href="">Affiliates</a></li>
                            <li><a href="">Our Stores</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-b">
                <div class="sign">
                    <div class="sign-head">
                        <h3>Sign up to receive 15% off your first order.</h3>
                    </div>
                    <div class="sign-search">
                        <input type="email" placeholder="Email Address">
                        <button class="search-btn">-></button>
                    </div>
                    <div class="policy">
                        <p>By providing your email address, you agree to our <a href="">Privacy Policy</a> and <a href="">Terms of Service.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&copy; 2024 FashionHub Site</p>
</footer>