<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <span class="login100-form-title p-b-26">
          Welcome
        </span>
        <span class="login100-form-title p-b-48">
          <i class="fa-solid fa-circle-exclamation"></i>
        </span>
        <div class="wrap-input100 validate-input alert-validate" data-validate="Valid email is: a@b.c">
          <input class="input100" type="text" name="email" ngModel required>
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>
        <div class="wrap-input100 validate-input alert-validate" data-validate="Enter password">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input class="input100" type="password" name="pass" ngModel required>
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit" [disabled]="!loginForm.valid" routerLink="/home">Login</button>
          </div>
        </div>
        <div class="text-center p-t-115">
          <span class="txt1">
            Don’t have an account?
          </span>
          <a class="txt2" routerLink="/signup">
            Sign Up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>